@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot');
	src: url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.woff') format('woff'),
		url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.ttf') format('truetype'),
		url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-ThinIt/ProximaNova-ThinIt.eot');
	src: url('../fonts/ProximaNova-ThinIt/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-ThinIt/ProximaNova-ThinIt.woff') format('woff'),
		url('../fonts/ProximaNova-ThinIt/ProximaNova-ThinIt.ttf') format('truetype'),
		url('../fonts/ProximaNova-ThinIt/ProximaNova-ThinIt.svg#FontName') format('svg');
	font-style: italic;
	font-weight: 100;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot');
	src: url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff') format('woff'),
		url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf') format('truetype'),
		url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.svg#FontName') format('svg');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
	src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
		url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'),
		url('../fonts/ProximaNova-Black/ProximaNova-Black.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 900;
}