#acf-about_us_1,#acf-about_fake_1,#acf-count_1,
#acf-about_us_2,#acf-about_fake_2,#acf-count_2,
#acf-about_us_3,#acf-about_fake_3,#acf-count_3,
#acf-about_us_4,#acf-about_fake_4,#acf-count_4,
#acf-about_us_5,#acf-about_fake_5,#acf-count_5,
#acf-about_us_6,#acf-about_fake_6,#acf-count_6
{
    display: inline-block!important;
    width: 30%!important;
    vertical-align: middle!important;

}
#acf-about_us_1,#acf-about_fake_1,
#acf-about_us_2,#acf-about_fake_2,
#acf-about_us_3,#acf-about_fake_3,
#acf-about_us_4,#acf-about_fake_4,
#acf-about_us_5,#acf-about_fake_5,
#acf-about_us_6,#acf-about_fake_6
{
    margin-right: 28px;
}
.acf-image-image{
    /*width: 35%!important;*/
    height: 1245px!important;
}
#acf-full_image
{
    /*width: 85%!important;*/
    display: inline-block!important;
    vertical-align: middle!important;
}
#acf-title_project,
#acf-objective,
#acf-city,
#acf-country,
#acf-coordinates,
#acf-completion_date,
#acf-link,
#acf-hover-color,
#acf-text_color,
#acf-centre_coordinates,
#acf-coordinates,
#acf-zoom
{
    width: 35%;
}