@font-face{font-family:'ico';src:url('../fonts/ico.eot');src:url('../fonts/ico.eot?#iefix') format('embedded-opentype'),
url('../fonts/ico.woff') format('woff'),
url('../fonts/ico.ttf') format('truetype'),
url('../fonts/ico.svg#ico') format('svg');font-weight:normal;font-style:normal;}
[class*='icon-']:before{display:inline-block;font-family:'ico';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-about:before{content:'\0041';}
.icon-contact:before{content:'\0042';}
.icon-disclaimer:before{content:'\0043';}
.icon-Home:before{content:'\0044';}
.icon-privasy:before{content:'\0045';}
.icon-research-loop:before{content:'\0046';}
.icon-research:before{content:'\0047';}
.icon-subscribe:before{content:'\0048';}
.icon-money:before{content:'\0049';}