/*START RESET*/

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
	/*overflow-y: hidden;*/
	overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

* {
	outline: 0 none;
}

body {
	line-height: 1;
	background: #fff;
	font-family: ProximaNova;
	color: #2e2e2e;
	overflow-x:hidden;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET*/

.home-page .col-lg-12.col-md-12.col-sm-12.col-xs-12.size {
	display: none;
}

.home-page .header {
	background: #242229;
	background: -moz-linear-gradient(top, #242229 0%, #242229 50%, #1c1921 51%, #1c1921 100%);
	background: -webkit-linear-gradient(top, #242229 0%, #242229 50%, #1c1921 51%, #1c1921 100%);
	background: linear-gradient(to bottom, #242229 0%, #242229 50%, #1c1921 51%, #1c1921 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#242229', endColorstr='#1c1921', GradientType=0);
	height: 1096px;
	/*height: 100vh;*/
	background-size: cover;
	background-position: 0px 0px;
}
header {
	position: relative;
}
.header ul.menu {
	width: calc(100% - 501px);
	text-align: right;
}

.home-page .header .wrapper {
	background: rgba(0, 0, 0, 0.5);
	height: 1096px;
	/*height: 100vh;*/
}

.button-main {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

.header video {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
}

.header .wrapper {
	position: relative;
	z-index: 1;
}

.header .logo {
	width: 110px;
	margin-top: 26px;
	display: inline-block;
	vertical-align: middle;
}

.header .logo img {
	width: 100%;
}

.header ul {
	display: inline-block;
	vertical-align: middle;
	margin-top: 33px;
	margin-left: 34px;
}

.header ul li {
	display: inline-block;
	margin-right: 37px;
}

.header ul li:last-child {
	margin-right: 30px;
}

.header ul a {
	color: #fff;
	font: 400 18px ProximaNova;
}

.header .language {
	margin-top: 33px;
	vertical-align: middle;
	position: relative;
	display: inline-block;
}

.header .language i:after {
	content: '\f107';
	font-family: "FontAwesome";
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	color: #d4574a;
	margin-left: 10px;
}

.header select {
	background: transparent;
	border: none;
	color: #fff;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: middle;
}

.header select::-ms-expand {
	display: none;
}

.header select:focus + i:after {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.header .contact-us {
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin-left: 29px;
	margin-top: 0px;
}

.header .contact-us .button {
	background-color: #d4574a;
	color: #fff;
	width: 100%;
	height: 46px;
	font: 400 20px ProximaNova;
	line-height: 42px;
	display: block;
	text-align: center;
	margin: 0 !important;
	text-transform: uppercase;
}

.header .contact-us .button:hover {
	background: #fff;
	color: #d4574a;
	transition: 1s;
}

.header .contact-us ul {
	display: block;
	margin: 15px 0;
}

.header .contact-us ul li {
	margin-left: 15px;
	margin-right: 0;
}

.header .contact-us ul li:last-child {
	margin-left: 20px;
}

.header .contact-us ul img {
	width: 100%;
}


/*
.header .slide-button 
{
margin-top: 400px;
}
*/

*:focus {
	outline: none !important;
	text-decoration: none !important;
	color: #d4574a !important;
}

.header .slide-button h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
}

.header .slide-button strong {
	font-weight: 600;
}

.header .slide-button .button {
	font: 900 24px ProximaNova;
	text-transform: uppercase;
	color: #fff;
	width: 374px;
	height: 67px;
	display: table;
	border: none;
	text-align: center;
	margin: 42px auto;
}

.header .slide-button .button:hover {
	background: transparent;
	color: #d4574a;
	transition: 1s;
}

.header .arrow-down {
	text-align: center;
	margin-top: 280px;
}

.header .arrow-down i:before {
	font-size: 45px;
	color: #fff;
}

.portfolio .header {
	border-bottom: 2px solid #d4574a;
	background: #fff !important;
	height: 135px;
}

.portfolio .header .contact-us ul li {
	width: 120px;
}

.portfolio .header .contact-us ul li:last-child {
	width: 90px;
}

.portfolio select {
	font-size: 24px;
	color: #666;
}

.portfolio .back {
	display: inline-block;
	vertical-align: middle;
	margin-top: 33px;
	width: calc(100% - 467px);
	text-align: center;
	position: relative;
}

.portfolio .back: .portfolio .back h2 {
	font-size: 30px;
	font-weight: 100;
	color: #666;
	display: inline-block;
	vertical-align: middle;
}

.portfolio .back h2 strong {
	font-weight: 700;
}

.back-portfolio + a {
	background-color: #d4574a;
	color: #fff;
	width: 220px;
	height: 58px;
	font: 400 20px ProximaNova;
	line-height: 42px;
	display: table;
	text-align: center;
	text-transform: uppercase;
	border: 4px solid #d4574a;
	position: absolute;
	left: 50%;
	margin-left: -110px !important;
}

.back-portfolio + a:hover {
	background: #fff;
	color: #d4574a;
}

.portfolio-page .header .contact-us {
	margin-top: 18px;
}

.portfolio-page .header .contact-us {
	margin-top: 26px;
}

.portfolio-page .header .language {
	font-size: 24px;
}

.slider i:before {
	border-radius: 50%;
	border: 4px solid #cdcecf;
	color: #cdcecf;
	min-height: 155px;
	min-width: 155px;
	display: inline-block;
	text-align: center;
	font-size: 56px;
	line-height: 147px;
}

.slider .owl-item {
	text-align: center;
	height: 220px;
	padding-top: 32px;
	padding-bottom: 135px;
}

a:hover {
	text-decoration: none !important;
}

.slider .slick-active.slick-center i:before {
	/*	-ms-transform: scale(1.4);*/
	/* -webkit-transform: scale(1.4); */
	/* transform: scale(1.4); */
	color: #d4574a !important;
	border-color: #d4574a !important;
	width: 220px;
	height: 220px;
	line-height: 220px;
	margin-top: -32px;
	font-size: 105px;
}

.slick-slide {
	padding-top: 40px;
}

.slick-initialized .slick-slide {
	text-align: center;
}

.slider .slick-slide i {
	border-radius: 50%;
}

.slider .slick-active.slick-center i:hover:before {
	box-shadow: inset 0px 0px 4px rgba(212, 87, 74, 0.8);
	text-shadow: 1px 2px 5px rgba(212, 87, 74, 0.8);
}

.slider .slick-slide i:hover:before {
	box-shadow: inset 0px 0px 4px rgba(205, 206, 207, 0.8);
	text-shadow: 1px 2px 5px rgba(205, 206, 207, 0.8);
	cursor: pointer;
}

.slider .prev-arrow {
	position: absolute;
	left: -50px;
}

.slider .prev-arrow:before {
	content: '\f104';
	font-family: "FontAwesome";
	font-size: 125px;
	color: #cdcecf;
	cursor: pointer;
}

.slider {
	position: relative;
}

.arrow-slider {
	position: absolute !important;
	width: 100%;
	top: 50%;
	margin-top: -55.5px;
	left: 0;
}

.arrow-slider span:hover:before {
	text-shadow: 1px 2px 5px rgba(205, 206, 207, 0.8);
}

.slider .next-arrow {
	position: absolute;
	right: -50px;
}

.slider .next-arrow:before {
	content: '\f105';
	font-family: "FontAwesome";
	font-size: 125px;
	color: #cdcecf;
	cursor: pointer;
}

.slider .owl-controls {
	position: absolute;
	top: 20%;
	width: 100%;
}

.content .title {
	color: #2e2e2e;
	font-size: 50px;
	font-weight: 100;
	color: #2e2e2e;
	text-align: center;
	margin-top: 60px;
}

.content .title strong {
	font-weight: 700;
}

.content .mini-title {
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 43px;
}

.content h5 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin-top: 44px;
}

.content h5 strong {
	font-weight: 600;
}

.content .our-work {
	border-bottom: 2px solid #d4574a;
}

.content .our-work .title {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	width: calc(100% - 375px);
}

.content .our-work ul {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #d4574a;
	border-bottom: none;
	width: 370px;
}

.content .our-work li {
	display: inline-block;
	width: 32.5%;
	text-align: center;
	font-size: 24px;
	font-weight: 100;
	line-height: 70px;
	color: #2e2e2e;
}

.content .our-work li.active,
.content .our-work li:hover {
	color: #d4574a;
}

.sline {
	border-top: 2px solid #d4574a;
	margin: -3px 0 0;
}

.gallery {
	margin-top: 0px;
	display: block;
	overflow: hidden;
	width: 100% !important;
}

.gallery img {
	width: 100%;
	height: auto;
}
.gallery .portfolio_item 
{
    width: calc(100% / 5);
    margin-left: -4px;
}
.gallery .portfolio_item a {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.gallery .portfolio_item
{
	display: none;
}


.gallery .portfolio_item:hover .view:before {
	left: 120px;
	width: 200px;
	background-color: #f00;
}

.gallery .portfolio_item:hover .view:after {
	left: -5px;
	width: 200px;
	background-color: #f00;
}

.gallery .mix a:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1);
	transition: 1s;
}

.gallery .mix a {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	transition: 1s; 
}

.bg {
	background-color: #f9f9f9;
}

#partners {
	padding-top: 16px;
	background: #cdcecf;
	/*padding-bottom: 40px;*/
}

#partners h5 {
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -16px;
}

#partners h5 strong {
	font-weight: 700;
}

#partners .partner {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.partner img {
	max-width: 100%;
	display: table;
	margin: 0 auto;
}

#partners .slick-slide {
	padding: 0 0 40px !important;
}

#partners .prev {
	position: absolute;
	left: -50px;
	z-index: 100;
}

#partners .prev:before {
	content: '\f104';
	font-family: "FontAwesome";
	font-size: 125px;
	color: #cdcecf;
	cursor: pointer;
}

#partners .next {
	position: absolute;
	right: -25px;
}

#partners .next:before {
	content: '\f105';
	font-family: "FontAwesome";
	font-size: 125px;
	color: #cdcecf;
	cursor: pointer;
}

.button {
	color: #d4574a;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 600;
	border: 4px solid #d4574a;
	width: 370px;
	height: 70px;
	display: table;
	margin: 54px auto 124px;
	text-align: center;
	line-height: 66px;
}

.button:hover {
	background: #d4574a;
	color: #fff;
	transition: 1s;
}

.work-button {
	width: 570px;
	height: 80px;
	display: table;
	margin: 0px auto 80px;
	border: 2px solid #d4574a;
	border-top: none;
}

.work-button .button {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 42px;
	background: #fff;
}

.work-button .button:hover {
	background: #d4574a;
	color: #fff;
	transition: 1s;
}

.why-are-we .title {
	color: #2e2e2e;
	font-size: 50px;
	font-weight: 100;
	color: #2e2e2e;
	text-align: center;
	margin-top: 44px;
}

.why-are-we .title strong {
	font-weight: 700;
}

.why-are-we .mini-title {
	font-size: 36px;
	font-weight: 100;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 13px;
}

.why h5 {
	font-size: 24px;
	font-weight: 100;
	text-align: center;
	margin-top: 35px;
	cursor: pointer;
}

.why h5 span {
	display: block;
	font-size: 150px;
	font-weight: 700;
	text-align: center;
	color: #e4e4e4;
	transition: 1s
}

.why h5:hover span {
	color: #d4574a;
}

.why .button {
	margin-bottom: 65px;
	margin-top: 40px;
}

.slider-comment {
	background: url(../images/office.jpg) no-repeat;
	background-size: cover;
	height: 590px;
	background-position: center -255px;
	background-attachment: fixed;
}

.slider-comment .bg-slider {
	background-color: rgba(63, 63, 63, 0.75);
	height: 590px;
	padding-top: 80px;
	position: relative;
}

.slider-comment h5 {
	font-size: 24px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-bottom: 0px;
}

.slider-comment h5 strong {
	font-weight: 700;
}

.slider-comment .comment img {
	width: 170px !important;
	height: 170px;
	border-radius: 50%;
	display: table;
	margin: 0 auto;
	border:5px solid #fff;
}

.slider-comment .comment h5 {
	font-size: 24px;
	font-weight: 100;
	text-align: center;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 20px;
}

.slider-comment .comment p {
	font-size: 18px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	width: 675px;
	display: table;
	margin: 0 auto;
	font-style: italic;
	line-height: 28px;
}

.slider-comment .arrow-prev {
	position: absolute;
	left: -50px;
	z-index: 100;
}

.slider-comment .arrow-prev:before {
	content: '\f104';
	font-family: "FontAwesome";
	font-size: 125px;
	color: #cdcecf;
	cursor: pointer;
}

.slider-comment .arrow-next {
	position: absolute;
	right: -27px;
}

.slider-comment .arrow-next:before {
	content: '\f105';
	font-family: "FontAwesome";
	font-size: 125px;
	color: #cdcecf;
	cursor: pointer;
}

.slider-comment .owl-controls {
	position: absolute;
	top: 20%;
	width: 100%;
}

.owl-controls {
	text-align: center;
	top: inherit !important;
	position: initial !important;
	bottom: 0;
}

.slick-dots {
	display: inline-block;
	margin: 0 10px;
}

.slick-dots li {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 4px solid #d4574a;
}

.slick-dots li.slick-active {
	background: #d4574a;
}

.slick-dots li button {
	display: none !important;
}

.owl-controls .owl-nav {
	position: absolute;
	width: 100%;
	top: 35%;
}

.owl-controls .owl-dots {
	position: absolute;
	width: 100%;
	bottom: -40px;
}

.leave-comments h2 {
	font-size: 40px;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	margin-top: 65px;
	margin-bottom: 65px;
}

.leave-comments h2 strong {
	font-weight: 700;
}

.leave-comments input[type="text"] {
	width: 300px;
	height: 60px;
	font-size: 24px;
	color: #515151;
	padding-left: 22px;
	margin-right: 26px;
	padding-right: 20px;
	border: 2px solid #eaeaea;
}

.leave-comments input[type="text"]:nth-child(2) {
	margin-right: 0;
}

.leave-comments textarea {
	width: 627px;
	max-width: 627px;
	margin-top: 15px;
	font-size: 24px;
	color: #515151;
	padding-left: 22px;
	padding-right: 20px;
	padding-top: 30px;
	height:180px;
	max-height: 315px;
	padding-bottom: 20px;
	border: 2px solid #eaeaea;
}

.leave-comments input.button {
	margin-left: 0 !important;
	margin-top: 15px !important;
	background: #d4574a;
	color: #fff;
	margin-bottom: 50px;
}

.leave-comments input.button:hover {
	background: #fff;
	color: #d4574a;
	transition: 1s;
}

.leave-comments ul {
	margin-top: 0px;
	margin-bottom: 10px;
}

.leave-comments ul li {
	line-height: 48px;
}

.leave-comments ul li:first-child i:before {
	font-size: 29px;
}

.leave-comments ul li a {
	font-size: 18px;
	font-weight: 100;
	color: #515151;
}

.leave-comments ul i:before {
	font-size: 34px;
	color: #d4574a;
	vertical-align: middle;
	margin-right: 11px;
}

.leave-comments img {
	margin-right: 20px;
}

.scroll-top {
	display: table;
	margin: 0 auto;
}

.scroll-top i:before {
	color: #d4574a;
	font-size: 32px;
}

.content-portfolio {
	text-align: center;
	margin-top: 175px;
	margin-bottom: 212px;
}

.ico-bg:before {
	content: "";
	background: url(../images/ico-vizitka.png) no-repeat;
	background-position: center center;
}

.ico-bg:hover:before {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	background: url(../images/ico-vizitka-hover.png) no-repeat;
	background-position: center center;
}

.portfolio-page {
	background: none;
}

.portfolio-page header {
	background-color: rgba(37, 37, 37, 0.8) !important;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 100;
}

.back-portfolio i::before {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background-color: #d4574a;
	display: block;
	text-align: center;
	line-height: 270px;
	margin: 0 !important;
	font-size: 65px;
	color: #fff;
}

.back-portfolio {
	display: table;
	position: absolute;
	top: -190px;
	left: 50%;
	margin-left: -80px;
}

.portfolio-page .prev {
	position: fixed;
	top: 50% !important;
	left: 50px;
	z-index: 0;
	width: 70px;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
	line-height: 70px;
}

.portfolio-page .prev:before,
.portfolio-page .next:before {
	font-family: "FontAwesome";
	color: #fff;
	font-size: 65px;
	content: '\f104';
}

.portfolio-page .next {
	position: fixed;
	top: 50% !important;
	right: 50px;
	z-index: 0;
	width: 70px;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
	line-height: 70px;
}

.portfolio-page .next:before {
	content: '\f105';
}

.portfolio-page .Portfolio-Slider img {
	width: 100%;
}

.portfolio-item .language {
	font-size: 24px;
}

.portfolio-item .slick-list {
	margin-top: 213px;
	margin-bottom: 265px;
}

.portfolio-item .slick-list img {
	vertical-align: top;
	display: inline-block;
}

.portfolio-item .slick-list img:nth-child(1) {
	width: 430px;
	height: 430px;
	float: left;
}

.portfolio-item .slick-list img:nth-child(2) {
	width: 200px;
	height: 215px;
}

.portfolio-item .slick-list img:nth-child(3) {
	width: 200px;
	height: 215px;
	margin-left: -4px;
}

.portfolio-item .slick-list img:nth-child(4) {
	width: 400px;
	height: 215px;
}

.portfolio-item .slick-list .img-item {
	width: 840px;
	display: table;
	margin: 0 auto;
}

.portfolio-item .arrow-prev.slick-arrow {
	display: block;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 30px;
	height: 30px;
}

.portfolio-item .arrow-next.slick-arrow {
	display: block;
	position: absolute;
	top: 50%;
	right: -25px;
	width: 30px;
	height: 30px;
}

.portfolio .wrapper.min-h {
	min-height: 763px;
}

.portfolio .our-work {
	border-bottom: 2px solid #d4574a;
	overflow: hidden;
	margin-bottom: 3px;
}

.portfolio .our-work .title {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin: 50px auto;
	font-size: 50px;
	display: table;
}

.portfolio .our-work .title strong {
	font-weight: 700;
}

.portfolio .our-work ul {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #d4574a;
	border-bottom: none;
	float: right;
	width: 100%;
	text-align: center;
}

.portfolio .our-work li 
{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #2e2e2e;
    cursor: pointer;
    padding: 5px 10px; 
}

.portfolio .our-work li.active,
.portfolio .our-work li:hover {
	color: #d4574a;
}

.portfolio .sline {
	margin-bottom: 40px;
}

footer {
	background: #d4574a;
}

footer .logo {
	display: table;
	margin: 30px auto;
}

footer ul {
	text-align: center;
	line-height: 80px;
}

footer li {
	display: inline-block;
}
footer li:hover a,
footer li:hover i:before
{
	color: #ccc;
}
.container-fluid
{
	overflow: hidden;
	width: 100% !important; 
}
footer i:before {
	font-size: 30px;
	color: #fff;
	vertical-align: middle;
	margin-right: 10px;
}

footer a {
	font-size: 18px;
	color: #fff;
	margin-right: 23px;
	font-weight: 100;
}

#language li {
	display: block;
}

#language {
	margin: 0px;
}

.leave-comments input[type="email"] {
	width: 300px;
	height: 60px;
	font-size: 24px;
	color: #515151;
	padding-left: 22px;
	margin-right: 26px;
	padding-right: 20px;
	border: 2px solid #eaeaea;
}

.scroll-top .logo {
	width: 77px;
}

.modal-container {
	width: 770px;
	height: 620px;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}

.modal-container h4 {
	color: #000000;
	font: 100 30px ProximaNova;
	margin-top: 39px;
	display: inline-block;
	margin-bottom: 35px;
}

.modal-container h4 strong {
	font: 700 30px ProximaNova;
}

.modal-container input[type="text"] {
	margin-right: 12.5px;
}

.modal-container input[type="email"] {
	margin-left: 12.5px;
}

.modal-container input[type="text"],
.modal-container input[type="email"] {
	width: 300px;
	height: 58px;
	margin-bottom: 15px;
	border: 2px solid #eaeaea;
	font: 100 24px ProximaNova;
	color: #515151;
	padding-left: 24px;
}

.modal-container textarea {
	width: 630px;
	height: 315px;
	border: 2px solid #eaeaea;
	font: 100 24px ProximaNova;
	color: #515151;
	padding: 24px;
}

.modal-container form {
	overflow: hidden;
}

.modal-container input[type="submit"] {
	background-color: #d4574a;
	width: 370px;
	height: 61px;
	margin-top: 30px;
	border: 4px solid #d4574a;
	font: 700 24px ProximaNova;
	color: #ffffff;
}

.language-menu .languages li a {
	font-size: 24px;
	color: #d0cfcf;
	font-weight: 400;
}

.language-menu .languages li {
	text-align: center;
	margin-right: 0 !important;
	display: block;
	width: 68px;
}

figure {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100vw;
}

svg > * {
	fill: #fff;
	stroke: #fff;
	stroke-width: 0.95px;
}

.modal-container input[type="submit"]:hover {
	background-color: #fff;
}

.modal {
	pointer-events: none;
}

.modal-container {
	pointer-events: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -310px;
	margin-left: -385px;
}

.close::before {
	font-size: 35px;
	position: absolute;
	right: 10px;
	top: 5px;
	color: #d4574a;
}

.language-menu button {
	background: none !important;
	border: none !important;
	font-size: 24px;
	color: #d0cfcf;
	font-weight: 400;
}

.language-menu {
	position: relative;
}

.language-menu .languages {
	margin: 0;
	position: absolute;
	left: 0;
	top: 30px;
	display: none;
}

.language-menu.open .languages {
	display: block;
	z-index: 1000;
}

.button.ru svg > * {
	fill: #fff;
	stroke: #fff;
	stroke-width: 0.92px;
}

@-moz-keyframes tip {
	0%,
	100% {
		opacity: 0;
	}
	10%,
	80% {
		opacity: 1;
	}
}

@-webkit-keyframes tip {
	0%,
	100% {
		opacity: 0;
	}
	10%,
	80% {
		opacity: 1;
	}
}

@keyframes tip {
	0%,
	100% {
		opacity: 0;
	}
	10%,
	80% {
		opacity: 1;
	}
}

.burger-menu,
.header .logo-mobile {
	display: none;
}

.write-side {
	display: inline-block;
}

.portfolio-page #map {
	width: 641px;
	height: 444px;
}

.portfolio-page .description {
	width: calc(100% - 646px);
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}

.portfolio-page .description h5 {
	font: 600 22px ProximaNova;
	color: #000;
	font-family: 'ProximaNova';
	margin-bottom: 15px;
	line-height: 0.7;
}

.portfolio-page .description p {
	color: #000000;
	font: 300 18px ProximaNova;
	margin-bottom: 35px;
	text-align: justify;
}
.tags-catalog a
/*.portfolio-page .description .buttons*/
{
	border-radius: 15px;
	border: 3px solid #d4574a;
	width: 178px;
	height: 36px;
	text-align: center;
	display: inline-block;
	line-height: 30px !important;
	font: 300 14px ProximaNova;
	color: #000;
	margin-bottom: 15px;
	margin-right: 10px;
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out
}
.portfolio-page .portfolio-no-link
{
	padding-top: 0 !important;
}
.tags-catalog a:nth-of-type(6n)
{
	margin-right: 0; 
}
.tags-catalog
{
	text-align: center;
}
.portfolio-page .description .buttons:hover,
.tags-catalog a:hover
{
	box-shadow: 0 0 40px 40px #d4574a inset;
	color: #fff;
}

.portfolio-page .maps {
	display: inline-block;
	margin-bottom: 45px;
}

.portfolio-page h2 {
	font: 700 30px ProximaNova;
	color: #000;
	text-align: center;
	margin: 15px 0 10px;
}
.scroll-top.fixed 
{
    /*display: block !important;*/
}
.portfolio-page .portfolio-item {
	position: relative;
	padding-top: 125px; 
}

.portfolio-page .portfolio-item .buttons {
	box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
	position: absolute;
	width: 430px;
	height: 62px;
	text-align: center;
	line-height: 58px;
	left: 50%;
	margin-left: -215px;
	top: 35px;
	color: #d4574a;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	border: 4px solid #d4574a;
	transition: 1s;
}

.portfolio-page .portfolio-item .buttons:hover {
	transition: scale(1.2);
	-moz-transform: scale(1.2); /* Для Firefox */
    -ms-transform: scale(1.2); /* Для IE */
    -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1.2);
	box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.40);
}

.portfolio-page .portfolio-item img {
	width: 100%;
	margin-top: 29px;
}

.scroll-top.fixed {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 1;
}

.scroll-top.fixed i:before {
	font-size: 40px;
	background: #cdcecf;
	border-radius: 5px;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 58px;
	display: block;
}

.scroll-top.fixed:hover i:before 
{
	background: #999;
	color: #fff;
	box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.40);
}
.wpcf7-validation-errors,
.wpcf7-not-valid-tip {
	display: none !important;
}

.wpcf7-not-valid {
	border: 2px solid #f00 !important;
}

.wpcf7-not-valid::-webkit-input-placeholder {
	color: #f00 !important;
}

.wpcf7-not-valid:-moz-placeholder {
	color: #f00 !important;
}

.wpcf7-not-valid::-moz-placeholder {
	color: #f00 !important;
}

.wpcf7-not-valid:-ms-input-placeholder {
	color: #f00 !important;
}

.header .mobile-contact-us {
	display: none !important;
}

.scroll-top.fixed {
	display: none;
}
.wrapper.why
{
	overflow: hidden;
	clear: both;
}
.portfolio .our-work ul.ru-class li {
	padding: 5px 10px;
}
.home-page #map
{
	height: 830px;
}
#global-map h4{
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 20px;
}
#global-map h4 strong{
	font-weight: bold;
}

#portfolio .title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 50px;
	font-weight: lighter;
}
#portfolio .title strong{
	font-weight: bold;
}
#contacts ul ~ a
{
	display: block;
	margin-top: 5px;
}
.da-thumbs
{
	overflow: hidden;
}
.animation
{
	animation-duration: 1s !important;
}
.menu.sub_menu li a {
    color: #2e2e2e;
}
body
{
	overflow-x:hidden !important;
}
.portfolio .header,
.home-page .header
{
    position: relative;
    z-index: 100;
}
html.active
{
	overflow: hidden !important;
	height: 100vh;
}
.menu-gallery-mob
{
	display: none !important; 
}
