@media only screen and (max-width: 1919px)
{
	.da-thumbs li
	{
		min-height: auto !important;
		height: auto !important;
	}
	.da-thumbs li a
	{
		height: auto !important;
	}
	.da-thumbs li:nth-of-type(4n + 1)
	{
		clear: both;
	}
	.da-thumbs
	{
		height: auto !important;
	}
}
@media only screen and (max-width: 1366px) {
    .header .arrow-down {
        text-align: center;
        margin-top: 90px;
    }
    .slider .prev-arrow {
        left: -15px;
    }
    .slider .next-arrow {
        right: -15px;
    }
    #partners .prev {
        left: -15px;
    }
    #partners .next {
        right: -15px;
    }
    .slider-comment .arrow-prev {
        left: 0;
    }
    .slider-comment .arrow-next {
        right: 0;
    }
	.da-thumbs li a div p 
	{
		font-size: 8px;
	}
}

@media only screen and (max-width: 1199px) {
    .header ul.menu {
        width: calc(100% - 407px);
        text-align: right;
        margin-left: 0;
    }
    .header .contact-us {
        width: 220px;
        margin-left: 0;
    }
    .header .contact-us ul li {
        margin-left: 0px;
    }
    .header .contact-us ul li:last-child {
        margin-left: 10px;
    }
    .header ul.menu li {
        display: inline-block;
        margin-right: 15px;
    }
    .portfolio .our-work ul.ru-class li {
        font-size: 16px;
    } 
	.leave-comments textarea
	{
		width: 100%;
	}
	.why h5 span 
	{	
		font-size: 120px;
	}
	.home-page #map
	{
		height: 500px;
	}
	.leave-comments .your-email input
	{
		margin-right: 0 !important;
	}
	.leave-comments input[type="text"]
	{
		width: 290px;
	}
	.portfolio .header .contact-us ul li 
	{
    	width: 114px;
	}
	.portfolio-page .description p 
	{
    	font: 300 14px ProximaNova;
	}
	.tags-catalog a,
	.tags-catalog a:nth-of-type(6n)
	{
		margin-left: 5px;
		margin-right: 5px;
	}
	.gallery .portfolio_item 
	{
    	width: calc(100% / 4);
    	margin-left: -4px;
	}
	.button 
	{
    	margin: 54px auto 65px;
	}	
}
@media only screen and (max-width: 1024px)
{
	.da-thumbs li:nth-of-type(4n+1)
	{
		clear: inherit;
	}
	.da-thumbs li:nth-of-type(3n+1)
	{
		clear: both;
	}	
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .burger-menu {
        position: absolute;
        top: 47px;
        left: 50px;
		z-index: 100;
    }
    .burger-menu::before {
        color: #d4574a;
        font-size: 50px;
    }
    .header ul.menu {
        display: none;
    }
    .header .logo {
        width: calc(100% - 293px);
    }
    .header .logo img {
        width: 110px;
    }
    .header .logo-mobile {
        width: 110px;
        position: absolute;
        top: 27px;
        left: 136px;
		z-index: 10;
    }
    .write-side {
        width: 100%;
        text-align: right;
    }
    .header .slide-button .button {
        width: 160px !important;
    }
    .header .contact-us {
        margin-top: 26px;
    }
    .logo-mobile img {
        width: 110px;
    }
    .partner img {
        width: 65%;
    }
    .why h5 {
        font-size: 19px;
    }
    .why h5 span {
        font-size: 90px;
    }
    .portfolio .our-work ul.ru-class li {
        font-size: 12px;
    }
	.header ul.menu
	{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		text-align: center;
		background: #fff;
		z-index: 10;
		top: 0;
		margin-top: 0;
		height: 100vh;
	}
	.header ul.menu li
	{
		display: block;
		height: calc(100% / 6);
		margin-right: 0;
		position: relative;
	}
	.header ul.menu li a 
	{
		color: #ccc;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -11.5px;
	}
	
	.header .container
	{
		width: 100%;
	}
	.leave-comments input[type="text"]
	{
    	width: 100%;
		margin-bottom: 15px;
		height: 40px;
	}
	.leave-comments input[type="email"] 
	{
    	width: 100%;
		height: 40px;
	}
	.leave-comments textarea
	{
		height: 120px;
	}
	.leave-comments input[type="submit"] 
	{
		height: 50px;
		line-height: 42px;
		width: 100%;
	}
	.leave-comments h2
	{
		margin-bottom: 30px;
	}
	.maps,
	.maps #map
	{
		width: 100%;
	}
	.portfolio-page .description 
	{
    	width: 100%;
	}
	.portfolio-page .description p 
	{
    	margin-bottom: 15px;
	}
	.portfolio-page .next 
	{
		right: 15px;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.portfolio-page .prev
	{
		left: 15px;
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.portfolio-page .prev::before, 
	.portfolio-page .next::before 
	{
    	font-size: 35px;
	}
	.portfolio .logo 
	{
		position: absolute;
		left: 136px;
	}
	.gallery .portfolio_item 
	{
    	width: calc(100% / 3);
    	margin-left: -4px;
	}
	.portfolio .burger-menu
	{
		display: block;
	}
	.menu-gallery 
	{
		display: none !important;
	}
	.menu-gallery-mob
	{
		display: block !important;
		position: relative;
		z-index: 10000;
	}
	
	.sub-menu-gallery-mob
	{
		border:none !important;
		position: absolute;
		z-index: 1000;
		top: 29px;
		left: 0;
		right: 0;
		background: #fff;
		border: 2px solid #d4574a !important;
		border-top:0 !important; 
	}
	.sub-menu-gallery-mob li 
	{
    	display: block !important;
		text-align: center;
		width: 100% !important;
		line-height: 30px !important;
	}
	.portfolio .our-work li
	{
		width: calc(100% / 4.07);
		position: relative;
	}
	.portfolio .our-work 
	{
    	overflow: visible;
    	height: 132px;
	}
}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    .header .arrow-down {
        margin-top: 0px;
    }
    .header .slide-button .button {
        margin-bottom: 20px;
    }
    .work-button {
        width: 80%;
    }
    #partners .prev {
        left: 0px;
    }
    #partners .next {
        right: 0px;
    }
    .wrapper.why {
        display: none;
    }
    .slider-comment .comment p {
        width: 80%;
    }
    .leave-comments textarea {
        width: 100%;
    }
    .leave-comments input[type="text"] {
        width: calc(100% - 54%);
    }
    .leave-comments input[type="email"] {
        width: calc(100% - 50%);
        margin-right: 0;
    }
    .leave-comments ul {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .slider-comment {
        background-position: center;
        background-attachment: initial;
    }
	.slider-comment .comment h5 
	{
		font-size: 20px;
	}
	.leave-comments input.button 
	{
    	margin-bottom: -15px;
	}
	#contacts ul ~ a:last-of-type
	{
		margin-bottom: 20px;
	}
	.slider-comment .comment p 
	{
    	width: 65%;
		font-size: 14px;
	}
	#global-map h4,
	.content .title,
	.leave-comments h2
	{
		margin-top: 30px;
	}
	.content .mini-title 
	{
    	margin-top: 10px;
    	margin-bottom: 10px;
	}
	.button 
	{
		margin: 30px auto 30px;
	}
	.leave-comments input[type="email"],
	.leave-comments input[type="text"]
	{
    	height: 60px;
	}
	.your-message textarea
	{
		max-width: 100%;
	}
	.slider-comment .bg-slider
	{
		padding-top: 30px;
	}
	.maps,
	.maps #map 
	{
    	width: 100%;
    	height: 200px;
	}
	.gallery .portfolio_item 
	{
    	width: calc(100% / 2);
    	margin-left: -4px;
	}
	.portfolio .our-work li:first-child
	{
		width: 45px;
	}
	.portfolio .our-work li
	{
		width: calc(100% / 3.4);
	}
	.portfolio-page .prev,
	.portfolio-page .next
	{
		display: none;
	}
	.da-thumbs li:nth-of-type(3n+1)
	{
		clear: inherit;
	}
	.da-thumbs li:nth-of-type(2n+1)
	{
		clear: both;
	}	
}

@media only screen and (max-width: 579px) {
    .contact-us ul {
        display: none !important;
    }
    .contact-us {
        position: absolute;
        left: 50%;
        width: 160px !important;
        margin-left: -65px !important;
        bottom: 80px;
    }
    .header .contact-us .button {
        width: 130px;
        height: 30px;
        font: 400 15px ProximaNova;
        line-height: 23px;
    }
    .contact-us {
        position: absolute;
        left: 50%;
        width: 130px !important;
        margin-left: -66px !important;
        ;
    }
    .burger-menu {
        top: 30px;
        right: 30px;
        left: initial;
    }
    .header .logo-mobile {
        width: 110px;
        position: absolute;
        top: 10px;
        left: 25px;
    }
    .button-main {
        position: absolute;
        bottom: 20px;
        width: 94.5%;
    }
    .write-side {
        text-align: center;
    }
    video#bg-video {
        display: none;
    }
    .home-page .header {
        background: url(../images/bg-mobil.png)no-repeat;
        background-size: cover;
        height: 570px;
    }
    .button-main {
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
    }
    .header .slide-button .button {
        width: 80% !important;
        margin-bottom: 50px !important;
    }
    .header .contact-us {
        display: none;
    }
    .header .mobile-contact-us {
        width: 80%;
        display: table !important;
        margin: 0 auto;
    }
    .header .arrow-down {
        margin-top: 50px;
    }
    .home-page .header .wrapper {
        height: 570px;
    }
    .work-button .button {
        width: 50%;
    }
    .leave-comments input[type="text"] {
        width: calc(100% - 56%);
    }
    .leave-comments input[type="email"] {
        width: calc(100% - 50%);
        margin-right: 0;
    }
	#global-map
	{
		display: none;
	}
	.slider .slick-active.slick-center i::before
	{
		width: 155px;
		height: 155px;
		line-height: 155px;
		margin-top: 0;
		font-size: 56px;
	}
	.slider .prev-arrow 
	{
    	left: 0px;
	}
	.slider .next-arrow
	{
		right: 0;
	}
	
	.slider-comment .comment img 
	{
    	width: 90px !important;
		height: 90px;
	}
	.slider-comment .arrow-prev
	{
		left: 15px;
	}
	.slider-comment .arrow-next
	{
		right: 15px;
	}
	.home-page .header,
	.home-page .header .wrapper,
	.home-page .header .col-xs-12
	{
		height: 580px !important;
	}
	.gallery .mix a 
	{
		-webkit-transform: scale(1);
		transform: scale(1);
		vertical-align: top;
		margin-bottom: 20px;
		margin-left: 0;
		padding: 0 15px;
	}
	.our-work
	{
		margin-bottom: 20px !important;
	}
	.portfolio .logo 
	{
    	left: 25px;
    	margin-top: 10px;
	}
	.portfolio-page .portfolio-item .buttons 
	{
    	width: 280px;
    	margin-left: -140px;;
    	font-size: 17px;
	}
	.portfolio .our-work li.filter:first-child
	{
		display: none;
	}
	.portfolio .our-work li 
	{
    	width: calc(100% / 3.07);
		font-size: 16px;
	}
}

@media only screen and (max-width: 479px) {
    #service-link {
        width: 80%;
    }
    .work-button .button {
        width: 60%;
    }
    .slider-comment .bg-slider,
    .slider-comment {
        height: auto;
    }
    .leave-comments input[type="text"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .leave-comments input[type="email"] {
        width: 100%;
        margin-right: 0;
    }
    .leave-comments input.button {
        width: 100%;
    }
    .leave-comments textarea {
        height: 210px;
    }
	.content .mini-title 
	{
		font-size: 30px;
	}
	.content h5 
	{
		font-size: 18px;
	}
	.arrow-slider 
	{
    	top: 150px;
	}
	.da-thumbs li a div p 
	{
		font-size: 9px;
	}
	#da-thumbs
	{
    	margin-bottom: 25px;
	}
	.slider-comment .comment h5 
	{
    	font-size: 16px;
	}
	.slider-comment .comment p 
	{
    	width: 100%;
    	font-size: 12px;
    	line-height: 16px;
	}
	.slider-comment .bg-slider,
	.slider-comment
	{
    	height: 430px;
	}
	footer li 
	{
		display: block;
		text-align: left;
		line-height: 48px;
	}
	.slider-comment .arrow-slider 
	{
    	top: 105px;
	}
	.tags-catalog a {
    	width: 165px;
    	font: 300 12px ProximaNova;
	}
	.slider-comment h5
	{
		font-size: 20px;
	}
	.portfolio .our-work 
	{
    	border-bottom: none;
	}
	.menu-gallery-mob
	{
		border: 2px solid #d4574a !important;
		
	}
	.sub-menu-gallery-mob
	{
		width: calc(100% + 4px) !important;
		left: -2px;
	}
	.portfolio .our-work li
	{
    	width: 100%;
		text-align: left;
		padding-left: 36%;
	}
}

@media only screen and (max-width: 390px) {
    .leave-comments img {
        margin-bottom: 10px;
    }
	.write-side 
	{
    	text-align: right;
    	padding-right: 33%;
	}
	.portfolio .our-work .title 
	{
    	margin: 30px auto;
    	font-size: 30px;
	}
	.portfolio-page .portfolio-item .buttons:hover 
	{
		transition: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
	}
	.tags-catalog a
	{
		width: 130px;
		font: 300 9px ProximaNova;
		height: 25px;
		line-height: 19px !important;
	}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 359px) {
    .gallery .portfolio_item {
        width: 100%;
    }
}