*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.da-thumbs {
  list-style: none;
  height: 100vh;
  position: relative;
  padding: 0;
  border: 1px solid  #d4574a;
}
@media (max-width: 768px) {
  .da-thumbs {
    border: none;
    height: auto;
  }
}
.da-thumbs li {
  float: left;
  background: #fff;
  width: 25%;
  height: calc(100vh / 3);
  min-height: 250px;
  position: relative;
  border: 1px solid  #d4574a;
}

.da-thumbs .ab-dark > * {
  color: #fff;
}
.da-thumbs .ab-dark span {
  border-color: #fff;
}
.da-thumbs .ab-light > * {
  color: #000;
}

@media (max-width: 1024px) {
  .da-thumbs li {
    width: calc(100% / 3);
  }
  .da-thumbs li:nth-of-type(12),
  .da-thumbs li:nth-of-type(11),
  .da-thumbs li:nth-of-type(10){
    display: none;
  }
}

@media (max-width: 768px) {
  .da-thumbs li {
    width: calc(100% / 2);
    min-height: auto;
    min-height: 0;
    height: 200px;
    overflow: hidden;
  }
  .da-thumbs li:nth-of-type(9),
  .da-thumbs li:nth-of-type(8),
  .da-thumbs li:nth-of-type(7){
    display: none;
  }
}

@media (max-width: 480px) {
  .da-thumbs li {
    width: 90%;
    margin-left: 5%;
    float: none;
    border-left-width: 2px;
    border-right-width: 2px;
  }
  .da-thumbs li:nth-of-type(6),
  .da-thumbs li:nth-of-type(5){
    display: none;
  }
}
.da-thumbs li a, .da-thumbs li img {
  height: 100%;
  display: block;
  position: relative;
}

.da-thumbs li img {
  width: 100%;
}

.da-thumbs li a {
  overflow: hidden;
  border: 2px solid  #fff;
}

.da-thumbs li a div {
  position: absolute;
  background: #333;
  background: rgba(75, 75, 75, 0.7);
  width: 100%;
  height: 100%;
  padding: 35px 25px;
}
@media (max-width: 480px) {
  .da-thumbs li a div {
    padding: 15px;
  }
}

.da-thumbs li a div span {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  border-bottom: 1px solid #000;
}
@media (max-width: 480px) {
  .da-thumbs li a div span {
    font-size: 15px;
    padding-left: 0;
  }
}

.da-thumbs li a div p {
  font-size: 12px;
  color: #666;
  margin-top: 20px; 
}
