//START FOOTER
footer
{
	background: #d4574a;
	.logo
	{
		display: table;
		margin: 30px auto;
	}
}

.portfolio
{
	footer
	{
		ul
		{
			text-align: center;
			line-height: 80px;
		}
		li
		{
			display: inline-block;
		}
		i:before
		{
			font-size: 30px;
			color: #fff;
			vertical-align: middle;
			margin-right: 10px;
		}
		a
		{
			font-size: 18px;
			color: #fff;
			margin-right: 23px;
			font-weight: 100;
		}
	}
}
.portfolio-page
{
	footer.wrapper
	{
		height: 110px;
		background:  #252525;
		text-align: center;
		overflow: hidden;
		
		a
		{
			width: 370px;
			height: 55px;
			line-height: 55px !important;
			text-align: center;
			display: table;
			background: #d4574a;
			text-transform: uppercase;
			font: 700 24px ProximaNova;
			color: #fff;
			margin: 30px auto;
		}
	}
	
}
//END FOOTER