$fa:'FontAwesome';
//START HEADER 
.home-page
{
	.header
	{
		background: url(../images/bg.jpg);
		height: 980px;
		background-size: cover;
		background-position: 0px 0px;
		.wrapper
		{
			background: rgba(0, 0, 0, 0.5);
			height: 980px;
		}
	}
}
.header
{
	video
	{
		width: 100%;
		height: 980px;
		position: absolute;
		z-index: 0;

	}
	.wrapper
	{
		position: relative;
		z-index: 1;
	}
	
	.logo
	{
		width: 110px;
		margin-top: 26px;
		display: inline-block;
		vertical-align: middle;
		
		img
		{
			width: 100%;
		}
	}
	ul
	{
		display: inline-block;
		vertical-align: middle;
		margin-top: 33px;
		margin-left: 34px;
		
		li
		{
			display: inline-block;
			margin-right: 37px;
			
			&:last-child
			{
				margin-right: 30px;
			}
		}
		a
		{
			color: #fff;
			font: 400 18px ProximaNova;
		}
		
	}
	.language
	{
		margin-top: 33px;
		vertical-align: middle;
		position: relative;
		display: inline-block;

		i:after
		{

			content: '\f107';
			font-family: $fa;
			font-size: 24px;
			display: inline-block;
			vertical-align: middle;
			color: #d4574a;
		}
		
	}
	select 
	{
		background: transparent;
		border: none;
		color: #fff;
		-webkit-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		-moz-appearance:none;
		appearance:none;
		vertical-align: middle;

		&::-ms-expand 
		{
			display: none;
		}
		&:focus + i:after
		{
			-webkit-transform: rotate(-180deg);
			-ms-transform: rotate(-180deg);
			-o-transform: rotate(-180deg);
			transform: rotate(-180deg);

		}
	}
	.contact-us
	{
		width: 250px;
		display: inline-block;
		vertical-align: top;
		margin-left: 28px;
		margin-top: 26px;
		
		.button
		{
			background-color: #d4574a;
			color: #fff;
			width: 100%;
			height: 46px;
			font: 400 20px ProximaNova;
			line-height: 42px;
			display: block;
			text-align: center;
			margin: 0 !important;
			
			&:hover
			{
				background: #fff;
				color: #d4574a;
				transition: 1s;
			}
		}
		ul
		{
			display: block;
			margin:15px 0;
			li
			{
				margin-left: 15px;
				margin-right: 0;
				
				&:last-child
				{
					margin-left: 20px;
				}
			}
			img
			{
				width: 100%;
			}
		}
	}
	.slide-button
	{
		margin-top: 315px;
		
		h1
		{
			color: #ffffff;
			font-size: 60px;
			font-weight: 100;
			text-align: center;
		}
		strong
		{
			font-weight: 600;
		}
		.button
		{
			font: 900 24px ProximaNova;
			text-transform: uppercase;
			color: #fff;
			width: 374px;
			height: 67px;
			display: table;
			border: 4px solid #fff;
			text-align: center;
			line-height: 59px;
			margin: 42px auto;
			
			&:hover
			{
				background: #fff;
				color: #d4574a;
				transition: 1s;
			}
		}
	}
	.arrow-down 
	{
		text-align: center;
		margin-top: 280px;
		
		i:before
		{
			font-size: 45px;
			color: #fff;
		}
	}

}

//END HEADER


//START HEADER PORTFOLIO

.portfolio
{
	
	
	.header
	{
		border-bottom: 2px solid #d4574a;
		background: #fff !important;
		
		.contact-us 
		{
			ul 
			{
				li
				{
					width: 120px;
					
					&:last-child
					{
						width: 90px;
					}
				}
			}
		}
		
	}
	
	select
	{
		font-size: 24px;
		color: #666;
	}
	.back
	{
		
		display: inline-block;
		vertical-align: middle;
		margin-top: 33px;
		width: calc(100% - 456px);
		text-align: center;
		
		h2
		{
			font-size: 30px;
			font-weight: 100;
			color: #666;
			display: inline-block;
			vertical-align: middle;
			
			
			strong
			{
				font-weight: 700;	
			}
		}
	}
	header
	{
		.button
		{
			text-transform: none ;
			line-height: 38px !important;
		}	
	}
}
.portfolio-page .header 
{
	height: 83px;
	border-bottom: 2px solid #d4574a;
	
	.logo
	{
		margin-top: 10px;
		width: 80px;
		
	}
	.contact-us
	{
		margin-top: 18px;
	}
	.language
	{
		font-size: 24px;
		margin-top: 9px;
	}
}
//END HEADER PORTFOLIO