
@import "reset"; 
@import "header";
$fa:'FontAwesome';
$rw:'Raleway', sans-serif;
//START CONTENT
.slider
{
	i
	{
		&:before
		{
			border-radius: 50%;
			border: 4px solid #cdcecf;
			color: #cdcecf;
			min-height: 155px;
			min-width: 155px;
			display: inline-block;
			text-align: center;
			font-size: 56px;
			line-height: 147px
		}
	}
	.owl-item 
	{
		text-align: center;
		height: 220px;
		padding-top: 32px;
		padding-bottom: 135px; 
		
		&.active.center i:before
		{
			-ms-transform: scale(1.4);
			-webkit-transform: scale(1.4);
			transform: scale(1.4);
			color: #d4574a;
			border-color: #d4574a;

		}
	}
	.owl-prev
	{
		position: absolute;
		left: -50px;
		&:before
		{
			content: '\f104';
			font-family: $fa;
			font-size: 125px;
			color: #cdcecf;
		}
	}
	.owl-next
	{
		position: absolute;
		right: -50px;
		&:before
		{
			content: '\f105';
			font-family: $fa;
			font-size: 125px;
			color: #cdcecf;
		}
	}
	.owl-controls 
	{
		position: absolute;
		top: 20%;
		width: 100%;
	}
}
.content
{
	.title
	{
		color: #2e2e2e;
		font-size: 50px;
		font-weight: 100;
		color: #2e2e2e;
		text-align: center;
		margin-top: 60px;
		
		strong
		{
			font-weight: 700;
		}
	}
	.mini-title
	{
		font-size: 36px;
		font-weight: 100;
		text-align: center;
		margin-top: 65px;
		margin-bottom: 43px;
	}
	h5
	{
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		margin-top: 44px;
		
		strong
		{
			font-weight: 600;
		}
	}
	
	.our-work
	{
		border-bottom: 2px solid #d4574a;
		
		.title
		{
			text-align: left;
			display: inline-block;
			vertical-align: top;
			margin-top: 20px;
			width: calc(100% - 375px);
		}
		ul
		{
			display: inline-block;
			vertical-align: top;
			border: 2px solid #d4574a;
			border-bottom: none;
			width: 370px;
		}
		li
		{
			display: inline-block;
			width: 32.5%;
			text-align: center;
			font-size: 24px;
			font-weight: 100;
			line-height: 70px;
			color: #2e2e2e;

			&.active,
			&:hover
			{
				color: #d4574a;
			}
		}
	}
	
}
.sline
{
	border-top: 2px solid #d4574a;
	margin:-3px 0 0;
}
.gallery
{
	margin-top: 40px;
	display: block;
	overflow: hidden;
	img
	{
		width: 100%;
		height: 300px;
	}
	.portfolio_item 
	{
		display: none;
		position: relative;
		overflow: hidden;
		
		a
		{
			display: inline-block;
			width: 100%;
			text-align: center;
		}
		
		&:hover .view
		{
			-webkit-transform: rotate(-34deg) translateY(-50%) scale(1.3);
			transform: rotate(-34deg) translateY(-50%) scale(1.3);
			opacity: 1;
			transition: 1.5s;
			color: #f00;
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
			
			&:before
			{
				left: 120px;
				width: 200px;
				background-color: #f00;
			}
			&:after
			{
				left: -5px;
				width:200px;
				background-color: #f00;
			}
		}
	}
	.mix 
	{
		margin-top: -3px;
	}
	.view
	{
		position: absolute;
		top: 47%;
		letter-spacing: -1px;
		color: #ffffff;
		text-transform: uppercase;
		padding: 10px 0;
		margin: 0;
		font-weight: 400;
		text-align: center;
		width: 317px;
		margin-left: -3px;
		font-size: 30px;
		font-family: $rw;
		font-weight: 800;
		transition: 1.5s;
		pointer-events: none;
		opacity: 0;
		display: table;
		margin: 0 auto;
		left: 0;
		right: 0;
		
		&:before
		{
			content: '';
			width: 80%;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 10%;
			margin-top: -5px;
			transition: 1.5s;
		}
		&:after
		{
			content: '';
			width: 80%;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 10%;
			margin-top: 33px;
			transition: 1.5s;
		}
		
	}
}
.bg
{
	background-color: #f9f9f9;
}
.partners
{
	padding-top: 30px;
	padding-bottom: 40px;
	
	
	h5
	{
		font-size: 30px;
		font-weight: 100;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 50px;
		
		strong
		{
			font-weight: 700;
		}	
	}
	
	.partner
	{
		width: 19.7%;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}
}
.button
{
	color: #d4574a;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 600;
	border:4px solid #d4574a;
	width: 370px;
	height: 70px;
	display: table;
	margin: 54px auto 124px;
	text-align: center;
	line-height: 66px;
	
	&:hover
	{
		background: #d4574a;
		color: #fff;
		transition: 1s;
	}
}
.work-button
{
	width: 570px;
	height: 80px;
	display: table;
	margin: 0px auto 80px;
	border: 2px solid #d4574a;
	border-top: none;
	
	.button
	{
		position: absolute;	
		left: 0;
		right: 0;
		margin-top: 42px;
		background: #fff;
		&:hover
		{
			background: #d4574a;
			color: #fff;
			transition: 1s;
		}
	}
}
.why-are-we
{
	.title
	{
		color: #2e2e2e;
		font-size: 50px;
		font-weight: 100;
		color: #2e2e2e;
		text-align: center;
		margin-top: 44px;

		strong
		{
			font-weight: 700;
		}
	}
	.mini-title
	{
		font-size: 36px;
		font-weight: 100;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 13px;
	}
}
.why
{
	h5
	{
		font-size: 24px;
		font-weight: 100;
		text-align: center;
		margin-top: 35px;
		cursor: pointer;
		
		span
		{
			display: block;
			font-size: 150px;
			font-weight: 700;
			text-align: center;
			color: #e4e4e4;
		}
		
		&:hover
		{
			span
			{
				color: #d4574a;
			}
		}
	}
	.button
	{
		margin-bottom: 65px;
		margin-top: 40px;
	}
}
.slider-comment
{
	background: url(../images/office.jpg) no-repeat;
	background-size: 100% auto;
	height: 590px;
	background-position: center -510px;
	
	
	.bg-slider
	{
		background-color: rgba(63, 63, 63, 0.75);
		height: 590px;
		padding-top: 80px;
	}
	
	h5
	{
		font-size: 24px;
		font-weight: 100;
		color: #fff;
		text-align: center;
		margin-bottom: 34px;
		
		strong
		{
			font-weight: 700;
		}
	}
	.comment
	{
		img
		{
			width: 170px !important;
			height: 170px;
			border-radius: 50%;
			display: table;
			margin: 0 auto;
		}
		h5
		{
			font-size: 24px;
			font-weight: 100;
			text-align: center;
			color: #fff;
			margin-top: 15px;
			margin-bottom: 20px;
		}
		p
		{
			font-size: 18px;
			font-weight: 100;
			color: #fff;
			text-align: center;
			width: 675px;
			display: table;
			margin: 0 auto;
			font-style: italic;
			line-height: 28px;
		}
		.owl-prev
		{
			position: absolute;
			left: -50px;
			&:before
			{
				content: '\f104';
				font-family: $fa;
				font-size: 125px;
				color: #cdcecf;
			}
		}
		.owl-next
		{
			position: absolute;
			right: -50px;
			&:before
			{
				content: '\f105';
				font-family: $fa;
				font-size: 125px;
				color: #cdcecf;
			}
		}
		.owl-controls 
		{
			position: absolute;
			top: 20%;
			width: 100%;
		}
	}
}
.owl-controls 
{
	text-align: center;
	top: inherit !important;
	position: initial  !important; 
	bottom: 0;
	
	.owl-dot 
	{
		display: inline-block;
		margin: 0 10px;
		
		span
		{
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border:4px solid #d4574a;
		}
		
		&.active
		{
			span
			{
				background: #d4574a;
			}
		}
	}
	.owl-nav 
	{
		position: absolute;
		width: 100%;
		top: 35%;
	}
	.owl-dots
	{
		position: absolute;
		width: 100%;
		bottom: -40px;
	}
}
.leave-comments
{
	h2
	{
		font-size: 40px;
		font-weight: 100;
		text-transform: uppercase;
		text-align: center;
		margin-top: 65px;
		margin-bottom: 65px;
		
		strong
		{
			font-weight: 700;
		}
	}
	
	input[type="text"]
	{
		width: 300px;
		height: 60px; 
		font-size: 24px;
		color: #515151;
		padding-left: 22px;
		margin-right: 26px;
		padding-right: 20px;
		border:2px solid #eaeaea;
		
		&:nth-child(2)
		{
			margin-right: 0;
		}
	}
	textarea
	{
		width: 630px;
		margin-top: 15px;
		font-size: 24px;
		color: #515151;
		padding-left: 22px;
		padding-right: 20px;
		padding-top: 30px;
		height: 315px;
		padding-bottom: 20px;
		border:2px solid #eaeaea;
	}
	input.button
	{
		margin-left: 0 !important;
		margin-top: 15px !important;
		background: #d4574a;
		color: #fff;
		margin-bottom: 50px;
		&:hover
		{
			background: #fff;
			color: #d4574a;
			transition: 1s;
		}
	}
	ul
	{
		margin-top: 85px;
		margin-bottom: 35px;
		
		li
		{
			line-height: 48px;
			
			&:first-child i:before
			{
				font-size:29px;
			}
			a
			{
				font-size: 18px;
				font-weight: 100;
				color: #515151;
			}
		}
		i:before
		{
			font-size: 34px;
			color: #d4574a;
			vertical-align: middle;
			margin-right: 11px;
			
		}
	}
	img
	{
		margin-right: 20px;
	}
}
.scroll-top 
{
	display: table;
	margin: 0 auto;
	
	i:before
	{
		color: #d4574a;
		font-size: 32px;	
	}
}
.content-portfolio
{
	text-align: center;
	margin-top: 175px;
	margin-bottom: 212px;
	
}
.ico-bg:before
{
	content: "";
	background: url(../images/ico-vizitka.png)no-repeat;
	background-position:center center;
	
	
}
.ico-bg:hover:before
{
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);	
	background: url(../images/ico-vizitka-hover.png)no-repeat;
	background-position:center center;
}

.portfolio-page
{
	background: none;
	
	header
	{
		background-color: rgba(37, 37, 37, 0.8) !important;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 100;
	}
	
	.back-portfolio i::before 
	{
		width: 170px;
		height: 170px;
		border-radius: 50%;
		background-color: #d4574a;
		display: block;
		text-align: center;
		line-height: 270px;
		margin: 0 !important;
		font-size: 65px;
		color: #fff;
	}
	.back-portfolio
	{
		display: table;
		position: absolute;
		top: -115px;
		margin-left: 402px;
		
	}
	.prev
	{
		position: fixed;
		top: 50% !important;
		left: 50px;
		z-index: 1000;
		width: 70px;
		height: 70px;
		background-color: rgba(0, 0, 0, 0.45);
		text-align: center;
		line-height: 70px;
	}
	.prev:before, 
	.next:before
	{
		font-family: $fa;
		color: #fff;
		font-size: 65px;
		content: '\f104';
	}
	.next
	{
		position: fixed;
		top: 50% !important;
		right: 50px;
		z-index: 1000;
		width: 70px;
		height: 70px;
		background-color: rgba(0, 0, 0, 0.45);
		text-align: center;
		line-height: 70px;
	}
	.next:before
	{
		content: '\f105';
	}
	.Portfolio-Slider
	{
		img
		{
			width: 100%;
		}
	}
}
.portfolio-item
{
	background: #252525 -webkit-radial-gradient(center, ellipse closest-side, #252525 0%, #d4574a 25%, #5e3531 50%, #252525 100%);
	background: #252525 -moz-radial-gradient(center, ellipse closest-side, #252525 0%, #d4574a 25%, #5e3531 50%, #252525 100%);
	background: #252525 -o-radial-gradient(center, ellipse closest-side, #252525 0%, #d4574a 25%, #5e3531 50%, #252525 100%);
	background: #252525 -ms-radial-gradient(center, ellipse closest-side, #252525 0%, #d4574a 25%, #5e3531 50%, #252525 100%);
	background: #252525 radial-gradient(center, ellipse closest-side, #252525 0%, #d4574a 25%,  #5e3531 50%, #252525 100%);
	background-size: 50% 80%;
	background-repeat: no-repeat;
	background-position: center 20px;
	
	.language
	{
		font-size: 24px;
	}
	.slick-list
	{
		margin-top: 213px;
		margin-bottom: 265px;
		
		img
		{
			vertical-align: top;
			display: inline-block;
			
			&:nth-child(1)
			{
				width: 430px;
				height: 430px;
				float: left;
				
			}
			&:nth-child(2)
			{
				width: 200px;
				height: 215px;
				
			}
			&:nth-child(3)
			{
				width: 200px;
				height: 215px;
				margin-left: -4px;
			}
			&:nth-child(4)
			{
				width: 400px;
				height: 215px;
			}
		}
		.img-item
		{
			width: 840px;
			display: table;
			margin: 0 auto;
		}
	}
	.arrow-prev.slick-arrow 
	{
		display: block;
		position: absolute;
		top: 50%;
		left: 0px;
		width: 30px;
		height: 30px;
	}
	.arrow-next.slick-arrow 
	{
		display: block;
		position: absolute;
		top: 50%;
		right: -25px;
		width: 30px;
		height: 30px;
	}
}
.portfolio
{
	.wrapper.min-h 
	{
		min-height: 763px;
	}
	.our-work
	{
		border-bottom: 2px solid #d4574a;
		overflow: hidden;
		margin-bottom: 3px;

		.title
		{
			text-align: left;
			display: inline-block;
			vertical-align: top;
			margin: 50px auto;
			font-size: 50px;
			display: table;
			
			strong
			{
				font-weight: 700;
			}
		}
		ul
		{
			display: inline-block;
			vertical-align: top;
			border: 2px solid #d4574a;
			border-bottom: none;
			float: right;
		}
		li
		{
			display: inline-block;
			padding: 0 28.89px;
			text-align: center;
			font-size: 24px;
			font-weight: 100;
			line-height: 70px;
			color: #2e2e2e;
			cursor: pointer;

			&.active,
			&:hover
			{
				color: #d4574a;
			}
		}
	}
	.sline
	{
		margin-bottom: 40px;
	}
	
}

//END CONTENT
@import "footer"; 
@import "media"; 
